h1{text-align: center;}
.hero-body{background-image: linear-gradient(red, black);}
.logout{text-align: left;}
.cntry{font-weight: bold;color:blue;}
.error{color: red;}
body{background-color: #d9d4c5;}
